/*#region Global*/
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 12px;
}

h4 {
  font-size: 5px;
}

label {
  font-size: 15px;
}

body {
  background: #f9f9f9;
  padding-top: 50px;
  font-family: "Cutive Mono", monospace;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}

img {
  padding: 20px;
  width: 450px;
  height: 450px;
}
button {
  font-family: "Cutive Mono", monospace;
}

/*#endregion Global*/

/*#region navbar*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #f9f9f9;
  left: 0;
  right: 0;
  font-weight: normal;
  justify-content: right;
  text-align: right;
  font-size: 20px;
  height: 60px;
  padding: 0 20px;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 60px;
}

.navbar li a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  transition: 0.3s ease;
}

.navbar li a:hover {
  background-color: #c2d3e1;
  border-radius: 20px;
  padding: 15px;
  transition: 0.3s ease;
}
.navbar .logo {
  justify-content: left;
  align-items: left;
  padding-right: 450px;
}
.navbar img {
  display: block;
  margin-right: 20px;
}

.download-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: 0.3s ease;
}
.download-link:hover {
  background-color: #c2d3e1;
  border-radius: 20px;
  padding: 15px;
  transition: background-color 0.3s ease;
}

/*#endregion navbar*/

/*#region hero*/
.hero {
  padding: 40px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero h1 {
  font-size: 50px;
}
.hero h2 {
  font-size: 28px;
  line-height: 28px;
}

.hero h3 {
  font-size: 15px;
}
.header_text {
  padding-top: 100px;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  width: 0;
  animation: typing;
  animation: typing 4s steps(30, end) forwards, blinking 1s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
  100% {
    border-right-color: transparent;
  }
}

/*#endregion hero*/

/*#region about*/
.about {
  background-color: #c2d3e1;
  height: 720px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about_header {
  padding-top: 30px;
  text-align: center;
}

.about_header h3 {
  text-align: center;
  font-size: 30px;
}

.about_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.about p {
  font-size: 20px;
}

/*#endregion about*/

/*#region skills*/
.skills {
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.skills_header {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}
.skills_header h3 {
  text-align: center;
  font-size: 30px;
}

.skills_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  padding-bottom: 30px;
}
.skill_graph_c {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_c::before {
  content: "60%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_c::after {
  content: "C#";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_c:hover::after {
  transform: translateY(-60%) rotate(0) scale(1);
}

.skill_graph_java {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_java::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_java::after {
  content: "Java";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_java:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_html {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_html::before {
  content: "85%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_html::after {
  content: "HTML5";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_html:hover::after {
  transform: translateY(-85%) rotate(0) scale(1);
}

.skill_graph_css {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_css::before {
  content: "85%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_css::after {
  content: "CSS";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_css:hover::after {
  transform: translateY(-85%) rotate(0) scale(1);
}

.skill_graph_js {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_js::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_js::after {
  content: "JS";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_js:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_sql {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_sql::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_sql::after {
  content: "SQL";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_sql:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_php {
  width: 150px;
  height: 150px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_php::before {
  content: "75%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_php::after {
  content: "PHP";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}
.skill_graph_php:hover::after {
  transform: translateY(-75%) rotate(0) scale(1);
}
@keyframes animate {
  100% {
    transform: translateY(0) rotate(180) scale(1);
  }
  50% {
    transform: translateY(0) rotate(0) scale(1);
  }
  0% {
    transform: translateY(0) rotate(180) scale(1);
  }
}

/*#endregion skills*/

/*#region portfolio*/
.portfolio {
  background-color: #c2d3e1;
  height: 550px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio_header {
  padding-top: 30px;
  text-align: center;
}
.portfolio_header h3 {
  text-align: center;
  font-size: 30px;
}

.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card_front {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card_front img {
  width: 100%;
  height: 150px;
  border: 1px solid #c2d3e1;
  padding: 0;
  overflow: hidden;
  object-fit: cover;
}

.card_content {
  padding: 16px;
}

.card_content h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card_content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card_content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #c2d3e1;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #000;
  border: none;
}

.card_content .btn:hover {
  background-color: #000;
  color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #c2d3e1;
  border-radius: 10px;
  z-index: 10;
  background-color: #fff;
  width: 600px;
  max-width: 80%;
  justify-content: center;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal_header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.modal_header .close_btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

.modal_body {
  padding: 10px 15px;
  text-decoration: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*#endregion portfolio*/

.footer {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  margin: 25px;
  font-size: 20px;
}

.footer i {
  color: #c2d3e1;
}

#contactModal .modal_body a {
  text-decoration: none;
  color: blue;
}

@media screen and (max-width: 1280px) {
  body {
    padding-top: 100px;
  }

  .mobile_menu {
    display: none;
  }

  .navbar {
    padding: 0 10px;
  }

  .mobile_menu {
    display: none;
  }
  .navbar li {
    padding: 0 20px;
  }

  .navbar .logo {
    padding-right: 350px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 800px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .skills_text {
    margin: 0 auto;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 100px;
  }

  .navbar {
    padding: 0 10px;
  }

  .navbar li {
    padding: 0 20px;
  }

  .navbar .logo {
    padding-right: 90px;
  }
  .mobile_menu {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 800px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .skills_text {
    margin: 0 auto;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 820px) {
  body {
    padding-top: 10px;
  }

  .navbar {
    padding: 0 5px;
  }

  .navbar li {
    padding: 0 10px;
  }

  .navbar .logo {
    padding-right: 0px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 12px;
    /* text-align: center;
    word-wrap: break-word; */
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 700px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .about_text p {
    font-size: 15px;
  }

  .skills_text {
    margin: 0 auto;
  }

  .skill_graph_c {
    width: 120px;
    height: 120px;
  }

  .skill_graph_java {
    width: 120px;
    height: 120px;
  }

  .skill_graph_html {
    width: 120px;
    height: 120px;
  }

  .skill_graph_js {
    width: 120px;
    height: 120px;
  }

  .skill_graph_sql {
    width: 120px;
    height: 120px;
  }
  .skill_graph_css {
    width: 120px;
    height: 120px;
  }

  .skill_graph_php {
    width: 120px;
    height: 120px;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 10px;
  }

  .navbar {
    padding: 0 5px;
  }

  .navbar li {
    padding: 0 10px;
  }

  .navbar .logo {
    padding-right: 0px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 15px;
    /* text-align: center;
    word-wrap: break-word; */
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 700px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .about_text p {
    font-size: 15px;
  }

  .skills_text {
    margin: 0 auto;
  }

  .skill_graph_c {
    width: 120px;
    height: 120px;
  }

  .skill_graph_java {
    width: 120px;
    height: 120px;
  }

  .skill_graph_html {
    width: 120px;
    height: 120px;
  }

  .skill_graph_js {
    width: 120px;
    height: 120px;
  }

  .skill_graph_sql {
    width: 120px;
    height: 120px;
  }
  .skill_graph_css {
    width: 120px;
    height: 120px;
  }

  .skill_graph_php {
    width: 120px;
    height: 120px;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding-top: 50px;
  }

  .navbar {
    padding: 0 5px;
  }

  .navbar li {
    padding: 0 10px;
  }

  .navbar .logo {
    padding-right: 0px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 12px;
    /* text-align: center;
    word-wrap: break-word; */
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 700px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .about_text p {
    font-size: 15px;
  }

  .skills_text {
    margin: 0 auto;
  }

  .skill_graph_c {
    width: 120px;
    height: 120px;
  }

  .skill_graph_java {
    width: 120px;
    height: 120px;
  }

  .skill_graph_html {
    width: 120px;
    height: 120px;
  }

  .skill_graph_js {
    width: 120px;
    height: 120px;
  }

  .skill_graph_sql {
    width: 120px;
    height: 120px;
  }
  .skill_graph_css {
    width: 120px;
    height: 120px;
  }

  .skill_graph_php {
    width: 120px;
    height: 120px;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  body {
    padding-top: 100px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  .navbar li {
    padding: 0 5px;
  }
  .mobile_menu {
    display: block;
  }

  .desktop_menu {
    display: none;
  }

  .navbar li a:hover {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }

  .navbar li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #c2d3e1;
  }

  .download-link {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .download-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #c2d3e1;
  }

  .modal {
    width: 90%;
    max-width: 100%;
    word-wrap: break-word;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .header_text {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 9.5px;
  }

  .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about {
    height: 700px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .about_text p {
    font-size: 13px;
  }

  .skills_text {
    margin: 0 auto;
  }

  .skill_graph_c {
    width: 100px;
    height: 100px;
  }

  .skill_graph_java {
    width: 100px;
    height: 100px;
  }

  .skill_graph_html {
    width: 100px;
    height: 100px;
  }

  .skill_graph_js {
    width: 100px;
    height: 100px;
  }

  .skill_graph_sql {
    width: 100px;
    height: 100px;
  }
  .skill_graph_css {
    width: 100px;
    height: 100px;
  }

  .skill_graph_php {
    width: 100px;
    height: 100px;
  }

  .portfolio {
    height: 950px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .footer i {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 360px) {
  body {
    padding-top: 50px;
  }

  .navbar {
    padding: 0 5px;
  }

  .navbar li {
    padding: 0 10px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
  }
  .header_text {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 8px;
  }

  .hero img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 20px;
  }
  .about {
    height: 750px;
  }

  .about_text {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .about_text p {
    font-size: 13px;
  }

  .skills_text {
    margin: 0 auto;
  }

  .skill_graph_c {
    width: 100px;
    height: 100px;
  }

  .skill_graph_java {
    width: 100px;
    height: 100px;
  }

  .skill_graph_html {
    width: 100px;
    height: 100px;
  }

  .skill_graph_js {
    width: 100px;
    height: 100px;
  }

  .skill_graph_sql {
    width: 100px;
    height: 100px;
  }
  .skill_graph_css {
    width: 100px;
    height: 100px;
  }

  .skill_graph_php {
    width: 100px;
    height: 100px;
  }

  .portfolio {
    height: 1000px;
  }

  .card_container {
    justify-content: center;
  }

  .card_front {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    padding-bottom: 20px;
  }

  .footer i {
    margin-bottom: 20px;
  }

  .footer label {
    font-size: 12px;
  }
}
