h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 12px;
}

h4 {
  font-size: 5px;
}

label {
  font-size: 15px;
}

body {
  background: #f9f9f9;
  padding-top: 30px;
  font-family: "Cutive Mono", monospace;
  color: #000;
  margin: 0;
}

img {
  padding: 20px;
  width: 450px;
  height: 450px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #f9f9f9;
  left: 0;
  right: 0;
  font-weight: normal;
  justify-content: right;
  text-align: right;
  font-size: 20px;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 60px;
}

.navbar li a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  transition: 0.3s ease;
}

.hero {
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero h1 {
  font-size: 60px;
}
.hero h2 {
  font-size: 30px;
  line-height: 30px;
}

.hero h3 {
  font-size: 15px;
}
.logo {
  justify-content: right;
  text-align: right;
}
.header_text {
  padding-top: 100px;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  width: 0;
  animation: typing;
  animation: typing 2s steps(30, end) forwards, blinking 1s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
  100% {
    border-right-color: transparent;
  }
}

.about {
  background-color: #c2d3e1;
  height: 450px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about_header {
  padding-top: 30px;
  text-align: center;
}

.about_header h3 {
  text-align: center;
  font-size: 35px;
}

.about_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.about p {
  font-size: 20px;
}

.skills_header {
  padding-top: 30px;
  text-align: center;
}
.skills_header h3 {
  text-align: center;
  font-size: 35px;
}

.skills_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.skill_graph_c {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_c::before {
  content: "60%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_c::after {
  content: "C#";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_c:hover::after {
  transform: translateY(-60%) rotate(0) scale(1);
}

.skill_graph_java {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_java::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_java::after {
  content: "Java";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_java:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_html {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_html::before {
  content: "85%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_html::after {
  content: "HTML5";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_html:hover::after {
  transform: translateY(-85%) rotate(0) scale(1);
}

.skill_graph_css {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_css::before {
  content: "85%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_css::after {
  content: "CSS";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_css:hover::after {
  transform: translateY(-85%) rotate(0) scale(1);
}

.skill_graph_js {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_js::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_js::after {
  content: "JS";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_js:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_sql {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_sql::before {
  content: "70%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_sql::after {
  content: "SQL";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_sql:hover::after {
  transform: translateY(-70%) rotate(0) scale(1);
}

.skill_graph_php {
  width: 100px;
  height: 100px;
  background-color: #c2d3e1;
  border: 1px solid #d3d3d3;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.skill_graph_php::before {
  content: "85%";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background: #2e7ebe;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: scale(1);
  transform: translateY(100%) rotate(180) scale(1);
  transition: transform 2.5s ease-in-out;
  animation: animate 15s ease-in infinite;
}
.skill_graph_php::after {
  content: "PHP";
  display: flex;
  font-size: 25px;
  color: #ffff;
  background-color: #c2d3e1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.skill_graph_php:hover::after {
  transform: translateY(-85%) rotate(0) scale(1);
}
@keyframes animate {
  100% {
    transform: translateY(0) rotate(180) scale(1);
  }
  50% {
    transform: translateY(0) rotate(0) scale(1);
  }
  0% {
    transform: translateY(0) rotate(180) scale(1);
  }
}
